.warningDialog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 32px 64px 16px 64px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.32);
  z-index: 12;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: transform 0.3s ease-in, opacity 0.3s ease-out;
}

.warningDialog.hidden {
  transform: translate(-50%, -40%);
  opacity: 0;
  visibility: hidden;
}

.warningDialog img {
  height: 128px;
  width: 128px;
  margin-bottom: 32px;
}

.warningDialog h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 16px;
}

.warningDialog p {
  font-family: 'Cabin', sans-serif;
  color: #8d8d8d;
  text-align: center;
  margin-bottom: 32px;
}

.warningDialog .retry {
  width: 100%;
  background-color: #1db954;
  color: #ffffff;
  border: none;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  box-sizing: border-box;
  padding: 12px 32px;
  border-radius: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
}

.warningDialog .retry:active {
  transform: translateY(2px);
  transition: all 0.1 ease-in;
}

.warningDialog .continue {
  background-color: transparent;
  border: none;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin-top: 8px;
  color: #8d8d8d;
}

.warningDialog button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}
