.chipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 0;
  box-sizing: border-box;
}

.chip {
  background-color: #0000001a;
  color: #8d8d8d;
  border: none;
  align-self: flex-end;
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
  padding: 12px;
  margin: 6px 12px 6px 0;
  border-radius: 24px;
}

.chip.selected {
  background-color: #1db954;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
  color: #ffffff;
}

.chip:hover {
  cursor: pointer;
}