.chipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6px 0;
  box-sizing: border-box;
}

.chip {
  background-color: #f6f6f4;
  color: #000000;
  border: none;
  align-self: flex-end;
  font-family: 'Cabin', sans-serif;
  box-sizing: border-box;
  padding: 12px;
  margin: 6px 12px 6px 0;
  border-radius: 24px;
}

.chip.selected {
  background-color: #ff6c2c;
  color: #ffffff;
}

.chip:hover {
  cursor: pointer;
}