.results {
  width: 560px;
  padding: 0 88px 0 0;
  box-sizing: border-box;
}

.noResult {
  display: flex;
  height: 56px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px 0;
  font-family: 'Cabin', sans-serif;
  color: #8d8d8d;
  border-radius: 16px;
  font-size: 14px;
  animation: popup .4s ease-in-out;
}

.result {
  display: flex;
  height: 64px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 8px 0;
  opacity: 0;
  background-color: #0000001a;
}

.result:nth-child(1) {
  animation: popup .4s ease-in-out forwards;
}
.result:nth-child(2) {
  animation: popup .4s .2s ease-in-out forwards;
}
.result:nth-child(3) {
  animation: popup .4s .4s ease-in-out forwards;
}

@keyframes popup {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.result:hover {
  background-color: #0000001a;
  cursor: pointer;
}

.result .cover {
  height: 52px;
  width: 52px;
  border-radius: 16px;
}

.result .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
  color: #000000;
  margin-left: 16px;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
}

.result .info .title, .noResult .title {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  color: #000000;
  margin-bottom: 4px;
  font-size: 18px;
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .results {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .result {
    height: 48px;
    border-radius: 12px;
    padding: 0 8px;
    margin: 8px 0;
  }

  .result .cover {
    height: 32px;
    width: 32px;
    border-radius: 12px;
  }

  .result .info {
    margin-left: 8px;
  }

  .result .info .title, .noResult .title {
    font-size: 16px;
  }
}

@media (hover: hover) {
  .result {
    background-color: transparent;
  }
}