.actionButton {
  display: flex;
  height: 64px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 8px 0 0 0;
  overflow: hidden;
  color: #000000;
  background-color: #0000001a;
  border: none;
  font-family: 'Cabin';
  font-weight: bold;
  font-size: 20px;
  transform: translateY(-20px);
  opacity: 0;
}

.actionButton:nth-child(1) {
  transition: all 0.1s ease-in-out;
}
.actionButton:nth-child(2) {
  transition: all 0.1s 0.1s ease-in-out;
}

.actionButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: hidden;
  padding: 0 88px 0 0;
  box-sizing: border-box;
}

.actionButtonContainer.visible {
  visibility: visible;
}

.actionButton img {
  height: 52px;
  width: 52px;
  margin-right: 24px;
}

.actionButton:hover {
  background-color: #0000001a;
  cursor: pointer;
}

.actionButtonContainer.visible .actionButton {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 576px) {
  .actionButtonContainer {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .actionButton {
    height: 48px;
    border-radius: 12px;
    padding: 0 8px;
  }

  .actionButton img {
    height: 40px;
    width: 40px;
    margin-right: 16px;
  }
}

@media (hover: hover) {
  .actionButton {
    background-color: transparent;
  }
}