.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.cmn-toggle:disabled + label {
  cursor: default;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 56px;
  height: 32px;
  background-color: #f6f6f4;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 2px;
  bottom: 0;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f6f6f4;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  margin-top: 3px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #ff6c2c;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 25px;
}

input.cmn-toggle-round:disabled + label:before {
  background-color: #f6f6f4;
}

input.cmn-toggle-round:disabled + label:after {
  background-color: #f6f6f4;
}