:root {
  --next: 1;
  --previous: 0;
}

.roulette {
  position: absolute;
  bottom: -50vh;
  height: 100vh;
  width: 100vh;
  background-color: var(--color);
}

.roulette.loading {
  animation: 
    rotate1 1s 0.5s ease-in-out forwards,
    rotate2 1s 2s ease-in-out forwards, 
    rotate3 1s 3.5s ease-in-out forwards,
    rotate4 1s 5s ease-in-out forwards, 
    rotate5 1s 6.5s ease-in-out forwards;
}

.roulette.spining {
  animation: spin 1.2s cubic-bezier(0.39,-0.01, 0.58, 0.97) forwards;
}

.roulette img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
}

.roulette .container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.roulette .container .cover {
  height: 22.7vh;
  width: 22.7vh;
  margin-top: calc(9.6vh + 22.7vh);
  transition: margin-top 0.4s cubic-bezier(0.28, 1.07, 0.4, 0.99);
}

.roulette .container .cover.load {
  margin-top: 9.6vh;
}

.roulette .container .cover img.shot {
  animation: shot 0.1s ease-in;
}

.roulette .container .cover img {
  height: 100%;
  width: 100%;
  border-radius: 11.3vh;
}

@keyframes shot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(60deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(120deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(240deg);
  }
}
@keyframes rotate5 {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(300deg);
  }
}
@keyframes rotate6 {
  0% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(calc(60deg * var(--previous)));
  }
  100% {
    transform: rotate(calc(360deg * 5 + 60deg * var(--next)));
  }
}
