.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
}

.input {
  display: flex;
  margin: 32px;
}

.input input {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  height: 56px;
  width: 392px;
  border: none;
  background-color: #ffffff;
  border-radius: 28px;
  padding: 16px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  outline-width: 0;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  margin-right: 16px;
}

.input button {
  height: 56px;
  width: 56px;
  border: none;
  border-radius: 28px;
  background-color: #ffffff;
  outline-width: 0;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input button:hover {
  cursor: pointer;
}

.input button:active {
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  transform: translateY(2px);
}

.input button svg {
  padding-left: 4px;
  fill: #1db954;
}