.input .results {
  position: absolute;
  padding-top: 8px;
  top: 64px;
}

.input .result {
  display: flex;
  height: 56px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px 0;
  overflow: hidden;
  animation: popup .4s ease-in-out;
}

@keyframes popup {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  90% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.input .result:last-child {
  margin: 8px 0 0 0;
}

.input .result:hover {
  background-color: #0000001a;
  cursor: pointer;
}

.input .result .cover {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.input .result .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Cabin', sans-serif;
  color: #8d8d8d;
  border-radius: 16px;
  margin-left: 16px;
  font-size: 14px;
}

.input .result .info .title {
  font-weight: bold;
  color: #000000;
  width: 312px;
  margin-bottom: 4px;
  font-size: 16px;
  white-space: nowrap;
}