.album {
  height: 50vh;
  width: 50vh;
  position: relative;
  background-color: #000000aa;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  border-radius: 8px;
  overflow: hidden;
}

.album img {
  height: 100%;
  width: 100%;
}