.input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 392px;
  margin: 32px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
  transition: all .2s ease-in-out;
}

.input.focused {
  width: 432px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.input input {
  font-family: 'Cabin', sans-serif;
  color: #8d8d8d;
  width: 360px;
  height: 56px;
  border: none;
  background-color: #0000001a;
  border-radius: 16px;
  padding: 16px;
  font-size: 20px;
  outline-width: 0;
  box-sizing: border-box;
}

.input.focused button {
  opacity: 1;
  transform: scale(1);
}

.input button {
  position: absolute;
  right: 0;
  opacity: 0;
  display: flex;
  height: 24px;
  width: 24px;
  margin-left: 16px;
  border: none;
  background-color: transparent;
  outline-width: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  fill: #8d8d8d;
  transition: opacity .1s ease-in-out .1s, transform .3s cubic-bezier(0.8,-0.85, 0.26, 1.89);
  transform: scale(0.3);
}

.input button:hover {
  cursor: pointer;
}

.input button:active {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
  transform: translateY(2px);
}

.input button svg {
  padding-left: 4px;
  fill: #1db954;
}

.input .focused {
  font-family: 'Cabin', sans-serif;
  color: #8d8d8d;
  width: 100%;
  border-radius: 16px;
  padding: 64px 16px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}