.settingsContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000000aa;
  transition: opacity 0.3s ease-out;
  z-index: 2;
}

.settingsContainer.hidden {
  visibility: hidden;
  opacity: 0;
}

.settingsDialog {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 360px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 32px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.32);
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.3s ease-in, opacity 0.3s ease-out;
}

.hidden .settingsDialog {
  transform: translate(-50%, -40%);
  opacity: 0;
  visibility: hidden;
}

.settingsDialog h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 32px;
}


.settingsDialog h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.4s;
}

.settingsDialog h3.disabled {
  color:#c3c3c3;
}

button:focus {
  outline: 0;
}

.close {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 40px;
  right: 32px;
}

.close:hover {
  cursor: pointer;
}

.settingsDialog .row {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.settingsDialog .row h3 {
  margin-right: 16px;
}

.settingsDialog .github {
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  color: #696969;
}

.settingsDialog .github p {
  font-size: 16px;
  margin-right: 16px;
}

@media only screen and (max-width: 368px) {
  .settingsDialog {
    width: calc(100vw - 16px);
    padding: 16px;
  }

  .close {
    top: 24px;
    right: 16px;
  }
}